<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" accept-charset="UTF-8"/>
<title>{% block title %}{{title}}{% endblock %}</title>
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% block stylesheets %}
<link href="{{ asset('bundles/acmebiomedical/css/main.css') }}"
	media="screen" rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
{% endblock %}  
{% block javascripts %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
{% endblock %}
</head>
<body>
	{% block body %}
	<div id="header">
		{% block header %}
		<div id="head">
			<ul id="menu">
				<li class="nav_text"><a href="{{path('acme_biomedical_homepage')}}">BioMedicalPortal</a></li>
				<li class="nav_text"><a href="#">Distances sémantiques</a>
					<ul>
						<li class="nav_text_horiz"><a href="{{path('acme_biomedical_semantic_distance_two_concepts')}}">Entre deux concepts</a></li>
						<li class="nav_text_horiz"><a href="{{path('acme_biomedical_semantic_distance_concept_dist')}}">Avec un concept et une distance</a></li>
					</ul>
				</li>
				<li class="nav_text"><a href="api/doc/">Documentation API</a></li>
			</ul>
		</div>
		{% endblock %}
	</div>
	<div id="content">
		{% block content %} 
		{% endblock %}
	</div>
	<div id="footer">{% block footer %} Copyright 2014 Burc Pierre,
		Duplouy Olivier{% endblock %}</div>
	{% endblock %}
</body>
</html>