{% extends 'AcmeBiomedicalBundle::main.html.twig' %}
{% block javascripts %}
	{{ parent() }}
<script>
  		$(function() {
  			$('#search').autocomplete({
        		source : function(requete, reponse){
            	var motcle = $('#search').val();
            	var objData = {};
            	objData = { search: motcle };
            	$.ajax({
                	type:"POST",
                	url : "{{path('acme_biomedical_search')}}",
                	dataType : 'json',
                	data : objData,
 
                	success : function(donnee){
                    	reponse($.map(donnee, function(objet){
                        	return objet;
                    	}));
                	}
            	});
        		}
    		});
  			$('#searchOntology').autocomplete({
        		source : function(requete, reponse){
            	var motcle = $('#searchOntology').val();
            	var objData = {};
            	objData = { searchOntology: motcle };
            	$.ajax({
                	type:"POST",
                	url : "{{path('acme_biomedical_search_ontology')}}",
                	dataType : 'json',
                	data : objData,
 
                	success : function(donnee){
                    	reponse($.map(donnee, function(objet){
                        	return objet;
                    	}));
                	}
            	});
        		}
    		});
  			$("input").focusin(function(){
  				this.value = '';
  			});
  			$("#search").focusout(function(){
  				this.value = $("#search").val();
  			});
  			$("#searchOntology").focusout(function(){
  				this.value = $("#searchOntology").val();
  			});
  			$("#searchResources").focusout(function(){
  				this.value = 'Entrer un concept, ex Melanoma';
  			});
    	});
  		</script>
{% endblock %}
{% block content %}
	{{ parent() }}
<span style="font-size:1.5em">
			<b>Bienvenue sur BioMedicalPortal!</b>
		</span>
		<div>
			<table width="100%">
				<tr>
					<form action="{{ path('acme_biomedical_search_term') }}" method="get">
						<td valign="top" width="50%">
							<fieldset>
								<legend>Rechercher dans toutes les ontologies</legend>
								<input type="text" id="search" name="search"
									value="Entrer un concept, ex Melanoma" size="24pt" /> <input
									class="home_button" type="submit" value="Chercher">
							</fieldset>
						</td>
					</form>
					<form action="{{ path('acme_biomedical_ontology') }}" method="get">
						<td valign="top" width="50%">
							<fieldset>
								<legend>Rechercher une ontologie</legend>
								<input type="text" id="searchOntology" name="searchOntology"
									value="Entrer un nom d'ontology, ex NCI Thesaurus" size="34pt" /> <input
									class="home_button" type="submit" value="Explorer">
							</fieldset>
						</td>
					</form>
				</tr>
			</table>
		</div>
{% endblock %}