{% extends 'AcmeBiomedicalBundle::main.html.twig' %} 
{% block javascripts %}
	{{ parent() }}
<script>
$(function() {
    $( "#slider-range-max" ).slider({
      range: "max",
      min: 0,
      max: 100,
      value: 50,
      slide: function( event, ui ) {
        $( "#distance_max" ).val( ui.value );
      }
    });
    $( "#distance_max" ).val( $( "#slider-range-max" ).slider( "value" ) );
    $('#concept_1').autocomplete({
		source : function(requete, reponse){
    	var motcle = $('#concept_1').val();
    	var objData = {};
    	objData = { search: motcle };
    	$.ajax({
        	type:"POST",
        	url : "{{path('acme_biomedical_search')}}",
        	dataType : 'json',
        	data : objData,

        	success : function(donnee){
            	reponse($.map(donnee, function(objet){
                	return objet;
            	}));
        	}
    	});
		}
	});
  });
</script>
{% endblock %}
{% block content %}
{{ parent() }}
<form action="{{ path('acme_biomedical_all_concepts_in_distance') }}" method="post">
	<fieldset>
		<legend>Trouver tous les concepts</legend>
		<input type="text" id="concept_1" name="concept_1"
			value="Entrer un concept, ex Melanoma" /> 
		<label for="dist_id">Distance sémantique:</label>	
		<select name="dist_id" id="dist_id">
			<option value="1:sim_lin">Lin</option>
			<option value="2:sim_wu_palmer">Wu/Palmer</option>
			<option value="3:sim_resnik">Resnik</option>
			<option value="4:sim_schlicker">Schlicker</option>
		</select>
		<label for="distance_max">Distance maximale:</label>
		<input type="number" id="distance_max" name="distance_max" style="border:0; color:#f6931f; font-weight:bold;"/>
		<div id="slider-range-max" style="width:300px;float: right;margin-right: 45%"></div>
		<br>
		<input class="home_button" type="submit" value="Chercher"/>	
	</fieldset>
</form>
{% if distances is defined %}
	{% if distances is not null %}
			<h4>Concepts se trouvant à une distance de {{ distances.distance_max }} 
pour la distance {{ distances.dist_id }} du concept {{ distances.concept_1.getName() }}</h4>
		{% for term_concepts in distances.semantic_distances %}
			<p>
			<a href="{{  term_concepts.getConcept().getFullId() }}">
			{{ term_concepts.getTerm().getName() }}
			</a>
			<a href="{{  path('acme_biomedical_link_to_bioportal') }}?ontology_acronym={{ term_concepts.getOntology().getVirtualOntologyId() }}
			&full_id={{ term_concepts.getFullId() }}">
			<button class="home_button">Lien vers BioPortal</button>
			</a>
			</p>
		{% endfor %}
	{% else %}
		Il n'y a pas de concepts pour cette distance et pour ce type de distance.
	{% endif %}
{% endif %}
{% endblock %}