{% extends 'AcmeBiomedicalBundle::main.html.twig' %} 
{% block javascripts %}
	{{ parent() }}
<script>
  		$(function() {
  			$('#concept_1').autocomplete({
        		source : function(requete, reponse){
            	var motcle = $('#concept_1').val();
            	var objData = {};
            	objData = { search: motcle };
            	$.ajax({
                	type:"POST",
                	url : "{{path('acme_biomedical_search')}}",
                	dataType : 'json',
                	data : objData,
 
                	success : function(donnee){
                    	reponse($.map(donnee, function(objet){
                        	return objet;
                    	}));
                	}
            	});
        		}
    		});
  			$('#ontology').autocomplete({
        		source : function(requete, reponse){
            	var motcle = $('#concept_1').val()+"/"+$('#ontology').val();
            	var objData = {};
            	objData = { search: motcle };
            	$.ajax({
                	type:"POST",
                	url : "{{path('acme_biomedical_search_ontology_with_term')}}",
                	dataType : 'json',
                	data : objData,
 
                	success : function(donnee){
                    	reponse($.map(donnee, function(objet){
                        	return objet;
                    	}));
                	}
            	});
        		}
    		});
  			$('#concept_2').autocomplete({
        		source : function(requete, reponse){
            	var motcle = $('#concept_2').val()+"/"+$('#ontology').val();
            	var objData = {};
            	objData = { search: motcle };
            	$.ajax({
                	type:"POST",
                	url : "{{path('acme_biomedical_search_term_with_ontology')}}",
                	dataType : 'json',
                	data : objData,
 
                	success : function(donnee){
                    	reponse($.map(donnee, function(objet){
                        	return objet;
                    	}));
                	}
            	});
        		}
    		});
    	});
</script>
{% endblock %}
{% block content %}
{{ parent() }}
<form action="{{ path('acme_biomedical_sdtc') }}" method="post">
	<fieldset>
		<legend>Calculer la distance sémantique entre deux concepts</legend>
		<input type="text" id="concept_1" name="concept_1"
			{% if concept_1 is defined %}
			value="{{ concept_1 }}" 
			{% else %}
			value="Entrer un concept, ex Melanoma" 
			{% endif %}/> 
		<label for="ontology">Ontologies contenant les deux concepts:</label>	
		<input type="text" id="ontology" name="ontology"
			{% if ontology is defined %}
			value="{{ ontology }}" 
			{% else %}
			value="Entrer un nom d'ontology, ex NCI Thesaurus" 
			{% endif %}/>	
		<input type="text" id="concept_2" name="concept_2"
			{% if concept_2 is defined %}
			value="{{ concept_2 }}" 
			{% else %}
			value="Entrer un concept, ex Melanoma" 
			{% endif %} />
		<input class="home_button" type="submit" value="Calculer">	
	</fieldset>
</form>
{% if distances is defined %}
<pre>
Distance de Lin: {{ distances.getSimLin() }}
Distance de Wu Palmer: {{ distances.getSimWuPalmer() }}
Distance de Resnik: {{ distances.getSimResnik() }}
Distance de Schlicker: {{ distances.getSimSchlicker() }}
</pre>
{% endif %}
{% endblock %}
