{% extends 'AcmeBiomedicalBundle::main.html.twig' %}
{% block  title %}
Distance entre deux concepts
{% endblock %}
{% block content %}
{{ parent() }}
<p>
<span id="concepts">Distances entre {{ distances.getConcept1() }} et {{ distances.getConcept2() }}</span>
</p>
Distance de Lin: {{ distances.getSimLin() }}<br>
Distance de Wu Palmer: {{ distances.getSimWuPalmer() }}<br>
Distance de Resnik: {{ distances.getSimResnik() }}<br>
Distance de Schlicker: {{ distances.getSimSchlicker() }}<br>
{% endblock %}